
.my_cv {
    margin: 0 auto;
    width: 90vw;
    height: 1000px;
    z-index: 999999;
    background-color: rgb(223, 222, 222);
    position: relative;
    top: -90vh;
    display: none;
    z-index: -1;
  }

.my_cv span {
    font-size: 50px;
    position: relative;
    top: 200px;
    left: 40vw
}

.show {
    display: block;
}