

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');


@media screen and (max-width: 500px) {
    body {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        background-size: cover;
        overflow-x: hidden;
        
    }
  }