
.list_item {
    padding: 5vw;
    padding-top: 2vw;
    margin-bottom: 3vh ;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    

}

.list_item p {
    text-align: justify;
}
