
.filter-bar {
   position: fixed;

   top: 110px;
   left: 20px;
   background-color: rgb(56, 56, 68);
   border-radius: 70px;
}


.menuIcon {
   background: url("../../../../img/menu.png") ;
   background-size: cover;
   width: 20px;
   height: 20px;
   margin: 10px;

}