

.list_item p {
    position: relative;
    top: -90px;
    text-align: justify;
    height: 100px;
    overflow: hidden;
    padding: 10px 40px;
    display: none;
 
  
}

h3 {
    position: relative;
    color: rgb(255, 255, 255);
    right: -20px;
    font-size: 24px;
    z-index: 99;
    width: max-content;
 
}

.image {
    position: relative;
    top: -90px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;


}

img {
    position: relative;
    z-index: 1;
    height: inherit;
}



.image:hover {
    transition: filter 0.5s;
    cursor: pointer;
    

}


.image::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    /*
    background: linear-gradient(0deg, rgba(0, 4, 73, 0.711)0%,rgba(32, 36, 111, 0) 40%, rgba(32, 36, 111, 0) 60%);
    */
    background-color: rgba(32, 36, 111, 0.667);; 
    z-index: 2;
}




h3:hover {
    cursor: pointer;
    
}

.links {
    position: relative;
    top: -70px;
    display: flex;
    padding: 0 20px;
    justify-content: space-between;

}


.lang  {
    margin-right: 15px; 
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 32px;
    width: max-content;
    
}

.dot {
    width: 13px;
    height: 13px;
    background-color: rgb(255, 180, 30);
    border-radius: 50%;
    margin-right: 5px;
}

.lang-box {
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap

}


.icons {
    width: 25px;
    height: 25px;
    color: black;
    position: relative;


}

.icons-box {
    width: 70px;
    position: relative;
    bottom: -35px;
    height: max-content;
}

a {
    text-decoration: none !important;
    margin-left: 10px;
}





.list_item {
    position: relative;
    margin-bottom: 7vh ;
    background-color: rgb(255, 255, 255);
    box-shadow: #00000025 0px 1px 4px;   
    overflow: hidden;
    transition: all 0.2s ease;


}

.list_item:hover {
    transform: translateY(-3px);
    transition: all 0.2s ease;
    box-shadow: #00000060 0px 1px 4px;  
}


@media screen and (min-width: 650px) {

    .list_item {
        height: 300px;
        max-width: 300px;
        min-width: 300px;
    
    }

    .image {
        height: 220px; 
    
    }

    h3 {
        top: 143px;
     
    }
    
    
    

}


@media screen and (max-width: 650px) {

    .list_item {
        margin-bottom: 7vh ;
        height: 400px;
        width: 90vw;
        
    }

    .image {
        height: 320px; 
        margin-left: auto;
        margin-right: auto;
    
    }

    h3 {
        top: 243px;
     
    }
    



}


@media not all and (min-resolution:.001dpcm) {
     @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        .list_item {
           margin-left: 15px;
           margin-right: 15px;
        }

    }
}