
.projects_list {
    margin-top: 80px;

}

.projects_list ul {
    padding-inline-start: 0px;
    outline-offset: none;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content:  center;
    column-gap: 40px;
}


@media screen and (min-width: 650px) {
    .projects_list {
        max-width: 100vw;
    }
    
}


@media screen and (max-width: 650px) {

    .projects_list {
        width: 100vw;
        
    }
    
    
    

}